body {margin: 0; padding: 0;}
.container {
	width: 980px;
    height: 1386px;
    margin: auto;
    position: relative;
}
/*********************header********************/
header {
	height: 61px;
	width: 892px;
	border-bottom: 2px solid #938e8c;
	margin: auto 44px;
	position: relative;
	overflow: hidden;
}
.logo {
	width: 110px;
	height: 61px;
	background-color: #d45d5c;
	position: relative;
}
.logo span {
	font-size: 36px;
	font-family: "黑体";
    text-align: center;
    line-height: 60px;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	left: 0;
}
header span {
    font-size: 12px;
	font-family: "黑体";
	color: #d45d5c;
	position: absolute;
	bottom: 0;
	right: 0;
}
/********************content1*********************/
/*img-lefttop*/
.content1 {
	width: 892px;
	height: 301px;
	margin: 44px 44px auto;
	position: relative;
}
.img-lefttop {
	width: 641px;
	height: 301px;
	float: left;
	background-image: url(img/left-top.png);
}
.glass1 {
	width: 191px;
	height: 301px;
	background-color: #75b86b;
	float: left;
	opacity: 0.5;
    filter: alpha(opacity=50);
}
.glass2 {
	width: 191px;
	height: 301px;
	background-color: #cc8091;
	float: right;
	opacity: 0.5;
    filter: alpha(opacity=50);
}
/*aside*/
aside {
	width: 203px;
	height: 301px;
    border-top: 2px solid #cc8091;
    padding-top: 10px;
    float: right;
    position: relative;
}
.word1 {
	padding: 0;
	margin: 0;
	font-size: 24px;
	font-family: "微软雅黑";
	font-variant: small-caps;/*大型小写字母*/
	color: #000000;
	text-decoration: underline;
}
.word2 {
	white-space: nowrap;/*不让文本自动换行*/
	font-size: 12px;
	color: #676767;
	font-family: "楷体"；
	line-height: 10px;
}
.word3 {
	font-size: 116px;
	font-family: "微软雅黑";
	font-style: italic;
	color: #75b86b;
}
.word4 {
    font-size: 55px;
    font-family: "微软雅黑";
    color: #cc8091;
    position: absolute;
    left: 0;
    bottom: 0;
}
.word5 {
    font-size: 21px;
    font-family: "微软雅黑";
    color: #cc8091;
    position: absolute;
    left: 81px;
    bottom: 22px;
}
.word6 {
    font-size: 12px;
    font-family: "微软雅黑";
    color: #cc8091;
    position: absolute;
    left: 81px;
    bottom: 10px;
}
/**************************content2***********************/
.content2 {
	width: 641px;
	float: left;
	margin: 44px;
	padding: 0px;
	position: relative;
}
.text1,.text2 {
    width: 194px;
    float: left;
    margin-right: 22px;
}
.text1 span {
	font-size: 16px;
	font-family: "微软雅黑";
    font-weight: bold;
    text-decoration: underline;
    color: #418c59;
}
.text2 span {
	font-size: 16px;
	font-family: "微软雅黑";
    font-weight: bold;
    text-decoration: underline;
    color: #d2994f;
}
.text3 span {
	font-size: 16px;
	font-family: "微软雅黑";
    font-weight: bold;
    text-decoration: underline;
    color: #cc7680;
}
.text4 {
	font-size: 12px;
	position: absolute;
	bottom: 0;
	right: 118px;
}
.text1 p {
	font-size: 12px;
	color: #767777;
	font-family: "宋体";
	line-height: 16px;
}
.text2 p {
	font-size: 12px;
	color: #231815;
	font-family: "微软雅黑";
	line-height: 16px;
	opacity: 0.7;
    filter: alpha(opacity=70);
}
.text3 p {
	font-size: 12px;
	color: #767777;
	font-family: "微软雅黑";
	line-height: 16px;
}
.text4 span {
	color: #cd4a48;
	font-style: italic;
	opacity: 0.7;
    filter: alpha(opacity=70);
}
/***********************content3*********************/
/*title*/
.content3 {
	width: 892px;
	height: 637px;
	margin: 44px;
	position: relative;
}
.title {
	width: 415px;
	float: left;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #11456b;
}
.word7 {
	font-size: 72px;
	font-family: "黑体";
	font-weight: bold;
	font-style: italic;
	color: #f5e327;
}
.word8 {
	font-size: 42px;
	font-family: "黑体";
	font-weight: bold;
	line-height: 16px;
	color: #11456b;
}
.word9 {
	font-size: 33px;
	font-family: "黑体";
	font-weight: bold;
	color: #11456b;
}
/*img-right*/
.img-right {
	width: 458px;
	height: 257px;
	background-image: url(img/right.png);
	float: right;
	position: relative;
}
.glass3 {
	width: 458px;
	height: 61px;
	background-color: rgba(0,0,0,0.3);/*opac会使后代都变透明，改用rgba*/
	position: relative;
	bottom: -196px;
}
.word10 {
	height: 44px;
	width: 160px;
	float: left;
	margin:8px 0 9px 40px;
	padding-left: 15px;
	border-left: 3px solid #72b16a;
}
.word10 span {
	font-size: 30px;
	color: #FFFFFF;
	font-weight: 900;
}
.word11 {
	height: 12px;
	float: left;
    position: absolute;
    bottom: 24px;
    right: 180px;
}
.word11 span {
	font-size: 12px;
	color: #72b16a;
	font-style: italic;
}
/*art*/
.art {
	width: 415px;
	font-size: 2px;
	font-family: "宋体";
	line-height: 16px;
	padding: 2px;
	float: left;
}

.art p:first-letter {
	display: block;
	float: left;
	font-size: 70px;
	font-family: "微软雅黑";
	color: #f5e327;
    margin: 25px 5px 30px 0;
}
.art img {
	display: block;
    width: 167px;
    height: 288px;
    margin: 5px;
    float: right;
}
/*ad*/
.ad {
	width: 458px;
	height: 330px;
	background-color: #F1E94F;
	float: right;
	margin-top: 45px;
	position: relative;
}
.text5 {
    width: 255px;
    height: 123px;
    background-color: #d45d5c;
    position: relative;
    bottom: -27px;
    padding: 37px  5px 0px;
}
.ad li {
	font-size: 16px;
	font-family: "宋体";
	color: #5a5b5b;
	margin: 20px 0;
	line-height: 20px;
}
.ad span {
	font-size: 12px;
	font-family: "微软雅黑";
	color: #5a5b5b;
	font-style: italic;
	margin: 20px 0;
	line-height: 20px;
}
.word12 {
	width: 60px;
	height: 82px;
	border-right: 2px solid #fff;
	float: left;
	position: relative;
}
.word12 span {
	position: absolute;
	right: 5px;
	top: 10px;
	font-size: 96px;
	font-style: normal;
	color:#fff;
}
.word13 {
	width: 180px;
	float: right;
}
.word13 span {
	font-size: 21px;
	color: #fff;
	font-style: italic;
	font-family: "黑体";
	line-height: 24px;
}
.word14 {
	width: 180px;
	float: right;
}
.word14 p {
	font-size: 12px;
	color: #fff;
	font-family: "黑体";
	line-height: 10px;
	font-style: normal;
}
.text6 {
	height: 160px;
	width: 180px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.text6 p {
	font-size: 14px;
	color: #5a5b5b;
	font-family: "黑体";
	line-height: 16px;
	font-style: italic;
}
.d-right {
	float: right;
	margin-right: 20px;
}
/*footer*/
footer {
	float: right;
	height: 61px;
	width: 892px;
	border-top: 2px solid #938e8c;
	margin: auto 44px;
	position: relative;
}
footer span {
    font-size: 12px;
	font-family: "黑体";
	color: #d45d5c;
	position: absolute;
	top: 0;
	right: 0;
}
