body {background-color: #C9C9C9;}
/*header*/
header {
	width: 100%;
	height: 50px;
	background-color: #000000;
	overflow: hidden;
}
header .logo {
    float: left;
    margin-left: 25px;
    margin-top: 5px;
}
.logo img {
	height: 40px;
	width: 112px;
}
nav li {
	float: right;
	display: inline;
	margin-right: 15px;
    font-size: 12px;
}
nav a:link {
	text-decoration: none;
	color: #FFFFFF;
}
nav a:visited {
	text-decoration: none;
	color: #747474;
}
/*content*/
h3 {font-size: 22px;}
h4 {font-size: 16px; color: #777777}
h6 {font-size: 12px; color: #777777}
p {text-indent: 2em;}
article,section,aside {
	font-size: 14px;
	background-color: #fff;
	margin: 20px;
	padding: 20px;
	box-shadow: 3px 3px 2px gray;
	overflow: hidden;
}
/*picture*/
.pic {
	text-align: center;
	width: 154px;
    font-size: 12px;
    margin:20px auto 20px 50px;
    border: 0.5px solid #7A7A7A;
}
.pic img {
	width: 144px;
	height: 90px;
	padding: 5px;
}
/*table*/
ol {font-weight: 600;}
table {
	width: 100%; 
	border: 1px solid #7A7A7A;
	border-collapse:collapse;
}
th {
	background-color: #000;
	color: #fff;
	border: 1px solid #7A7A7A;
}
td {border: 1px solid #7A7A7A;}
.conclusion {background-color: #C9C9C9 }
/*aside*/
.aside-title { 
	border-left: 3px solid #C9C9C9; 
	padding-left: 5px;
}
aside h3 {font-size: 14px;}
.name {
	width: 10%;
	float: right;
	text-align: right;
	line-height: 1.5;
	padding: 10px;
}
form {
	width: 60%;
	float: right;
	text-align: left;
	line-height: 1.5;
	padding: 10px;
}
.submit {
	width: 168%;
	color:#fff;
	background-color: #000AFF;
	margin-right: 50%;
	position: relative;
	right: 66%;
	border: 0;
	border-radius: 5px;
	overflow: visible;
}
/*footer*/
footer {
	width: 100%;
	height: 80px;
	background-color: #000000;
	overflow: hidden;
}
.copyright {
	width: 100px;
	margin:20px auto auto;
	color: #FFFFFF;
	font-size: 12px;
}